<!-- Add any forms here to test HTTP requests to the API -->

<!-- Profile Create (POST) -->
<h4>Profile Create</h4>
<form action="/api/profile" method="POST">
  <input type="text" placeholder="username" name="username"><br />
  <input type="text" placeholder="email" name="email"><br />
  <input type="text" placeholder="password" name="password"><br />
  <input type="submit">
</form>